<div class='row list-row'>
  <div class='row'>
    <div class='small-12 columns list-title'>
      <strong><%= list.title %></strong>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns list-body'><%= list.body %></div>
  </div>
  <% unless list.user == current_user %>
    <div class='row'>
      <div class='small-12 columns list-share'>
        <span class='right'>Shared by <%= list.user.email %></span>
      </div>
    </div>
  <% end %>
  <%= link_to '', user_list_path(list.user, list) %>
</div>
