<div class='show-for-small-only'>
  <div class='small-12 columns clearfix'>
    <%= link_to 'New List', new_list_path, remote: true, class: 'left button' %>
  </div>
</div>

<div class='show-for-medium-up'>
  <div class='medium-3 large-2 columns'>
    <%= link_to 'New List', new_list_path, remote: true, class: 'button' %>
  </div>
</div>

<div class='small-12 medium-9 large-10 columns'>
  <div id='lists'>
    <%= render @lists %>
  </div>
</div>
<div id='list-form' class='reveal-modal' data-reveal data-options="animation: 'fade';"></div>
