<div class='medium-6 medium-offset-3 small-12 columns'>

  <div class='row'>
    <h3>My Lists</h3>
  </div>

  <%= link_to 'New List', new_user_list_path, class: 'button' %>

  <%= render @lists %>

</div>
