$('#form-alert-container').append($("<div data-alert class='alert-box alert'><%= alert %><a href='#' class='close'>&times;</a></div>"));
$(document).foundation();  // reapply foundation after adding content to modal
