<div class='medium-6 medium-offset-3 small-12 columns'>

  <div class='row'>
    <h3>What is this?</h3>
  </div>
  <div class='row'>
    <p>A simple app for creating and sharing lists</p>
  </div>

  <div class='row'>
    <h3>How can I start using it?</h3>
  </div>
  <div class='row'>
    <p>Either <%= link_to 'Sign Up', new_user_registration_path, class: 'button' %>
    or <%= link_to 'Sign In', new_user_session_path, class: 'button' %></p>
  </div>
</div>
